$bg-color: yellow;
$border-color: red;
$cell-width: 40px;
.app {
  font-family: helvetica, arial, sans-serif;
  padding: 2em;
  border: 5px solid $border-color;

  p {
    background-color: $bg-color;
  }
}

.testClass {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: blue;
}
