.board {
  display: flex;
  width: auto;
  flex-direction: column;
  justify-content: center;  
  align-items: center;
  background-color: #d8e3e8;
  border: 1px solid black;
}

.board .col {
  padding-left: 0;
  padding-right: 0;
}

.test {
  background-color: aqua;
}