.board {
  display: flex;
  position: relative;
  height: 100vh;
  flex-direction: column;
  justify-content: space-around;
  max-width: 640px;
  padding-left: 0;
  padding-right: 0;
  z-index: 100;  
  &__field {
    display: flex;
    flex-direction: column;
    justify-content: center;  
    align-items: center;
    padding-left: 0;
    padding-right: 0;
    max-width: 320px;
    @media screen and (min-width: 600px) {
      max-width: 640px;        
    }  
  }
  &__table {
    &-card {
      background-color: rgba(255,255,255,0.2);
      border: none;
      border-radius: 10px;
      font-size: 24px;
      padding: 10px;
      @media screen and (min-width: 600px) {
        font-size: 36px;
      }
    }
  }
}
.col {
  padding-left: 0;
  padding-right: 0;
}
