.ResultModal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
  &__img {    
    width: 100%;  
  }
  &__text {
    padding-top: 10px;
    font-size: 16px;
    @media screen and (min-device-width: 1200px) { 
      font-size: 32px;
    }  
  }  
}